* {
	box-sizing: border-box;
}

.navbar-default {
	background: #ffffff;
	border: none;
}

.navbar-toggle {
	border: none;
	cursor: pointer;
}

.header-section {
	font-size:22px;
	padding-top: 100px;
}


.item {
	height: 400px;
}